<!DOCTYPE html>
<html>
<head>
    <title>Attendance</title>
</head>
<body>

    <h1>Student Attendance</h1>

    <table border="1" cellpadding="10">
        <tr>
            <th>Student Name</th>
            <th>Roll Number</th>
            <th>Attendance</th>
        </tr>

        <tr>
            <td>Karthik</td>
            <td>101</td>
            <td>85%</td>
        </tr>

        <tr>
            <td>Rahul</td>
            <td>102</td>
            <td>90%</td>
        </tr>
    </table>

</body>
</html>