<!DOCTYPE html>
<html>
<head>
    <title>Navigation Bar</title>

    <style>
        nav {
            background-color: black;
            padding: 15px;
        }

        nav a {
            color: white;
            text-decoration: none;
            margin-right: 25px;
            font-size: 18px;
        }

        nav a:hover {
            color: yellow;
        }
    </style>
</head>

<body>

    <nav>
        <a href="/">Home</a>
        <a href="/courses/">Courses</a>
        <a href="/attendance/">Attendance</a>
        <a href="/result/">Results</a>
        <a href="/login/">Login</a>
    </nav>

</body>
</html>